
####################################################################################### 
#####                        General configurations                               #####
####################################################################################### 

# Configuration folders (must exist as a subdirectory of "configurations"; the value
# tells the number of seconds for the next scan of the directory for changes. A
# value of -1 deactivates the scan).
# A comma separated list can follow after the refresh value. This list defines a filter
# for valid file extensions for the models.
folder:items=10,items
folder:sitemaps=10,sitemap
folder:rules=10,rules


#######################################################################################
#####                        Binding configurations                               #####
#######################################################################################


################################# EnOcean Binding #####################################
# EnOcean USB adapter serial port
enocean:serialPort=/dev/cu.usbserial-FTWTOGI0

############################### Philips Hue Binding ###################################
# IP address of Hue Bridge (optional, default is auto-discovery)
hue:ip=192.168.0.105
# user name of Hue Bridge, it is a local account
hue:username=1234567890
hue:secret=pairingKeyForOpenHABSystem


################################# MQTT Transport ######################################
#
# Define your MQTT broker connections here for use in the MQTT Binding or MQTT
# Persistence bundles. Replace <broker> with a id you choose.
#

# URL to the MQTT broker, e.g. tcp://localhost:1883 or ssl://localhost:8883

mqtt:nao.url=tcp://192.168.0.104:1883

mqtt-persistence:broker=nao

mqtt-persistence:message=%1$s, %3$s

#### OUTBINDING
mqtt-eventbus:broker=nao
mqtt-eventbus:statePublishTopic=/nao/${item}/state
mqtt-eventbus:commandPublishTopic=/nao/${item}/command


#mqtt:<broker>.async=<async>
